<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="General">
        <setting label="General" type="lsep" />
		<setting id="allyear" type="bool" default="true" label="Retornar todos Anos"/>		
		<setting id="minyear" type="slider" default="2013" label="Ano Mínimo" range="1900,1,2015" option="int" enable="eq(-1,false)"/>
		<setting id="maxyear" type="slider" default="2015" label="Ano Máximo" range="1900,1,2015" option="int" enable="eq(-2,false)"/>
		<setting id="pages-num" type="slider" default="5" label="Número de páginas para listar" range="1,1,10" option="int"/>
		<setting id="cachesites" type="bool" label="Guardar Cache dos sites" default="true" />
        <setting id="pref_language" type="labelenum" label="Preferred Metadata Language" values="system|aa|ab|af|am|ar|as|ay|az|ba|be|bg|bh|bi|bn|bo|br|ca|co|cs|cy|da|de|dz|el|en|eo|es|et|eu|fa|fi|fj|fo|fr|fy|ga|gd|gl|gn|gu|ha|hi|hr|hu|hy|ia|ie|ik|in|is|it|iw|ja|ji|jw|ka|kk|kl|km|kn|ko|ks|ku|ky|la|ln|lo|lt|lv|mg|mi|mk|ml|mn|mo|mr|ms|mt|my|na|ne|nl|no|oc|om|or|pa|pl|ps|pt|qu|rm|rn|ro|ru|rw|sa|sd|sg|sh|si|sk|sl|sm|sn|so|sq|sr|ss|st|su|sv|sw|ta|te|tg|th|ti|tk|tl|tn|to|tr|ts|tt|tw|uk|ur|uz|vi|vo|wo|xh|yo|zh|zu" default="system" />
    </category>
</settings>
